:root {
  --color-1: #222831;
  --color-2: #393E46;
  --color-3: #00ADB5;
  --color-4: #ecdfdf;

  --color-3-bright: #10ced8;
}

/* width */
::-webkit-scrollbar {
  width: .4em;

}

/* Track */
::-webkit-scrollbar-track {
  background: var(--color-1);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--color-3);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #10ced8;
}

body {
  font-size: 20px;
  word-spacing: .2em;
  line-height: 1.5em;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  word-break: break-all;
}

#notes-list {
  display: grid;
}

ol {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
}

button {
  font-size: 20px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  cursor: pointer;
}

header {}

header h1 {
  color: var(--color-3);
}

.note {
  display: block;
  background-color: var(--color-1);
  cursor: pointer;
  border-left: 1px solid var(--color-2);
  transition: border-left-width .1s ease-in-out;
}

.note:hover {
  --color-3: var(--color-3-bright);
  border-left-width: 4px;
  border-left-color: var(--color-3);
}

.note .header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 1em;
}

.note .header .title {
  margin: 0;
  color: var(--color-3);
}

.note .header .controls {
  display: none;
}

.note-btn-open {
  pointer-events: none;
}

.note-btn-open,
.note-btn-delete,
.note-btn-close {
  color: var(--color-3);
  background-color: transparent;
  border: none;
}

.note .content {
  height: 0;
  opacity: 0;
  visibility: hidden;
  transition: opacity .2s ease-in-out;
}

.note:has(input[type='radio']:checked) {
  cursor: initial;
  border-left-width: 4px;
}

.note:has(input[type='radio']:checked) .header {
  padding-bottom: 0;
}

.note:has(input[type="radio"]:checked) .content {
  color: var(--color-4);
  height: initial;
  opacity: 1;
  visibility: initial;
  padding: 1em;
  padding-top: .5em;
}

.note:has(input[type="radio"]:checked) .note-btn-open {
  display: none;
}

.note:has(input[type="radio"]:checked) .header .controls {
  display: initial;
}

#btn-add-more {
  padding: 0;
  position: fixed;
  right: 2em;
  bottom: 2em;
  color: var(--color-3);
  background-color: transparent;
  border: none;
  transition: transform .1s ease-in-out, color .1s ease-in-out;
}

#btn-add-more:hover {
  transform: scale(1.1);
  color: var(--color-3-bright);
}

@media screen and (min-width: 800px) {
  #notes-list {
    grid-template-columns: repeat(2, 1fr);
  }

  ol {
    flex-direction: row;
    flex-wrap: wrap;
  }
}

@media screen and (min-width: 1200px) {
  #notes-list {
    grid-template-columns: repeat(3, 1fr);
  }

  ol {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 1em;
  }
}